<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>My To Do List</h2>
    <a href="task_create">create</a>
    <table>
        <tr>
            <th>Item</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> {{task.title}} </td>
            <td><a href="{% url "task" task.id %}">View</a></td>
        </tr>
        {% empty %}
        <h3>No item in the list</h3>
        {% endfor %}
    </table>
</body>
</html>