<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <form method="POST" action="{% url "logout" %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url "login" %}">Login</a>
    {% endif %}
    <h2>My To Do List </h2>
    <hr>
    <a href="task_create">create</a> <br>
    <table>
        <tr>
            <th>Item</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td> {{task.title}} </td>
            <td><a href="{% url "task" task.id %}">View</a></td>
            <td><a href="{% url "task_update" task.id %}">Edit</a></td>
            <td><a href="{% url "task_delete" task.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>No item in the list</h3>
        {% endfor %}
    </table>
    {% if count %}
        <p>Total tasks: {{ count }}</p>
    {% endif %}
</body>
</html>